*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.topo {
    background-color:#cd4f2e;
    padding: 10px 20px;
    border-bottom: #ffc56f 18px solid;

}

.topo-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    max-width: 1200px;
    height:150px ;
    margin: 0 auto;
}

.logo {
    width: 240px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}
.menu ul li a:hover{
    border-bottom: solid 3px #fda722;
}
.menu ul li a {
    color: #212021;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.chamada {
    background-image:url(imag/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 772px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom:#909090 18px solid;
}
.chamada h2{
    text-align: center;
    font-size: 65px;
    align-self: center;
    color: #fbfbfb;
    text-shadow: 0px 4px 4px #212021;
    text-align: center;
    padding: 50px 10px;
}

.btn-vermelho {
    text-align: center;
    background-color:#cd4f2e;
    border-radius: 20px;
    color:#fbfbfb;
    text-shadow: #212021 0px 4px 4px;
    padding: 20px 20px;
    width:350px;
    height:80px;
    box-shadow: #212021 0px 4px 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: bold;
    transition: all 250ms ease-out;
}
.btn-vermelho:hover{
    transform: scale(1.1);
}
.chamada h3{
    align-self: flex-end;
    text-align: center;
    font-size: 58px;
    font-family: 'Seaweed Script', sans-serif;
    color: #ffc56f;
    width: 369px;
    height: 147px;
    text-shadow: #212021 0px 4px 4px;
    font-weight: normal;
    line-height: 50px;
    padding-top: 70px;
    padding-right: 30px;
}

.sobre {
    display: flex;
    background-color: #c8c8c8;
    padding: 100px;
    justify-content: center;
    border-bottom:#cd4f2e 18px solid;
}

.sobre-conteudo {
    display: grid;
    grid-template-columns: 0.6fr 1fr; 
    gap: 10px; 
    align-items: center; 
}

.sobre-conteudo img {
    border: solid 7px #909090;
    border-radius: 40px;
    width: 100%;  
    max-width: 400px; 
    height: auto; 
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.sobre-conteudo h3 {
    text-align: left;
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
    color:#212021;
}

.sobre-conteudo p {
    font-size: 21.5px;
    line-height: 1.4;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:#212021;
}

.btn-cinza {
    text-align: center;
    background-color:#909090;
    border-radius: 20px;
    color:#212021;
    text-shadow: 0px 4px 4px rgba(33, 32, 33, 0.25);
    padding: 20px 20px;
    width:350px;
    height:80px;
    box-shadow: #212021 0px 4px 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: bold;
    margin: auto;
    transition: all 250ms ease-out;
}
.btn-cinza:hover{
    transform: scale(1.1);
}
.cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#cd4f2e;
    border-bottom:#fda722 18px solid;
}

.cardapio .container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.cardapio .container1 .imagem {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#imagem1 {
    background-image: url('imag/imagem1.png');
    height: 578px;
}

#imagem2 {
    background-image: url('imag/imagem2.png');
    height: 595.05px;
}

#imagem3 {
    background-image: url('imag/imagem3.png');
    height: 578px;
}

#imagem2 h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-size: 36px;
    font-weight: bold;
    color: #fbfbfb;
    text-shadow: 0px 4px 4px #212021;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.cardapio .container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    
}

.container2 .cardapio-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 0px 50px 10px 50px;
    text-decoration: none;
    transition: all 250ms ease-out;
    
}
.cardapio-item:hover {
    transform: scale(1.1);
    
}
.cardapio-item .imagem{
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-color: #fbfbfb; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardapio-item .imagem img {
    width: 80px; 
    height: 80px; 
}

.cardapio .container2 .cardapio-item h4 {
    font-size: 18px;
    margin: 10px;
    color:#fbfbfb;
    font-family: 'Roboto';
    font-weight: normal;
}

.delivery {
    background-color:#ffc56f;
    padding-top:40px;
    text-align: center;
    border-bottom:#EAB948 18px solid;
}

.delivery .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.delivery h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color:#212021;
}
.delivery h4 {
    font-size: 65px;
    text-align: center;
    font-size: 65px;
    color: #212021;
    text-align: center;
    padding: 10px 10px;
    text-shadow: 0px 4px 4px rgba(33, 32, 33, 0.25);
}

.delivery p {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.btn-laranja {
    text-align: center;
    background-color:#ffc56f;
    border-radius: 20px;
    color:#212021;
    text-shadow: 0px 4px 4px rgba(33, 32, 33, 0.25);
    padding: 20px 20px;
    width:350px;
    height:80px;
    box-shadow: #212021 0px 4px 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: bold;
    margin: auto;
    transition: all 250ms ease-out;
}
.btn-laranja:hover {
    background-color:#fda722 ;
    transform: scale(1.1);
}

.btn-promo {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    text-transform: uppercase;
    color:#212021;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    transition: all 250ms ease-out;
}
.btn-promo:hover {
    transform: scale(1.1);
    
}

.delivery-image {
    margin-top: 20px;
    max-width: 100%;
    background-color: #EAB948;
}

.delivery-image img {
    width: 100%;
    height: auto;
   
}

.contato-endereco {
    display: flex;
    gap: 10px; 
    border-bottom:solid 18px #909090;

}

.contato {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fbfbfb;
    
}

.contato-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
    margin:60px 10px 15px 10px;
}
.contato-textos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contato-textos h3{
    font-size: 36px;
    color: #EAB948;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contato-info{
    display: flex;           
    align-items: center;     
    gap: 5px;               
    margin-left: 10px;
    transition: all 250ms ease-out;
}
.contato-info:hover img {
    transform: scale(1.1);
    
}
.contato-info .email{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    color:#212021;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.contato-info .telefone{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    color:#212021;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
.redes-sociais{
    width: 30px;
    height: 30px;
    display: flex;           
    align-items: center;     
    gap: 30px;               
    margin-left: 84px;            
}
.contato-textos h4{
    font-size: 24px;
    color: #EAB948;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 40px;
}

.contato-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sushi-img {
    max-width: 100%;
    border: solid 7px #EAB948;
    border-radius: 40px;

}

.contato-descricao {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    font-weight:bolder;
    color:#EAB948;
    margin-bottom:20px;
}


.endereco {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #212021;
    
}

.endereco-img {
    width: 524px;
    height: auto;
    border-radius: 40px;
    border:solid 7px #EAB948;
    margin:  20px auto 10px auto;
}
.endereco h3{
    font-size: 24px;
    color: #EAB948;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
    margin:  40px auto 10px auto;
}
.endereco .local{
    display: flex;           
    align-items: center;     
    gap: 5px;               
}
.local img{
    width: 50px;
    height: auto;
    margin:10px 0px 10px 100px;
}
.local p {
    margin-top: 10px;
    font-size: 16px;
    color:#EAB948;
    font-weight:bolder;
}

.endereco h4 {
    margin:  10px 0px 10px 100px;
    font-size:22px;
    color:#EAB948;
}

.endereco ul {
    
    color:#EAB948;
    margin-bottom:10px;
    list-style: none;
    margin-bottom: 40px;
}

.endereco li {
    margin-left:100px;
    font-size:16px;
    font-weight: bolder;
}


.rodape {
    background-color: #c8c8c8;
    color: #212021;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
    font-size: 15px;
}

#menu-check {
    display: none;
}
.bt-menu {
    display: none;
}


@media(max-width:700px){  
    .topo-container {
        flex-direction: column; 
        height: auto; 
       
    }
    .bt-menu {
        font-size: 30px;
        color:  #ffc56f;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000; 
    }
    .menu {
        display: none; 
        width: 100%;
        text-align: center;
        background-color: #cd4f2e;
        position: absolute;
        top: 140px; 
        left: 0;
        padding: 10px;
        transition: all 2s ease; 
    }
    .menu ul {
        display: block; 
    }

    .menu ul li {
        margin: 10px 0;
        border-bottom: #ffc56f 1px solid;
    }

    #menu-check:checked + .menu {
        display: block;
        height: auto; 
    }
    .logo{
        width: 200px;
        margin-right: 20px;
    }
    .chamada{
        height:622px;
        border-bottom:#cd4f2e 18px solid;
    }
    .chamada h2{
        font-size:28px ;
        padding-bottom: 20px;

    }
    .btn-vermelho{
        width:217px;
        height:auto;
        font-size: 20px;
        padding:15px;
        border-radius: 15px;
    }
    .chamada h3{
        font-size:27px ;
        line-height: 23px;
        padding: 150px 0px 0px 150px;
        align-content: end;
        
    }
    .sobre{
        display: none;
    }
    #imagem1{
        height: 272px;
        background-size: 275px;
        background-position: top center;
    }
    #imagem2{
        height: 280px;
        background-position: top right;
    }
    #imagem2 h3{
        font-size: 27px;
        z-index: 10;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    #imagem3{
        height: 272px;
        background-size: 250px;
        background-position: top center;
    }
    .cardapio .container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center; 
        padding: 0;
        gap:0;
    }
    .cardapio-item .imagem{
        width: 100px;
        height: 100px;
    }
    .cardapio-item .imagem img{
        width: 60px;
        height: 60px;
    }
    .container2 .cardapio-item{
        padding: 20px;
    }
    .cardapio .container2 .cardapio-item h4{
        font-size: 14px;
    }
    .delivery h3 {
        font-size: 27px;
        text-align: left;
        margin-left: 50px;
    }
    .delivery h4{
        font-size: 37.5px;
        padding:10px 0px 10px 0px;
    }
    .delivery p{
        font-size: 17px;
        text-align: center;
    }
    .btn-laranja{
        width:217px;
        height:auto;
        font-size: 20px;
        padding:12px;
        border-radius: 15px;
    }
    .btn-promo{
        font-size: 12px;
        gap:5px;
        padding:30px 15px 0px 0px;
    }
    .btn-promo img{
        width: 20px;
        height: 20px;
    }
    .delivery-image {
        margin-top:8px;
    }
    .contato-conteudo{
        grid-template-columns: 1fr;
        grid-template-rows: 350px 300px; 
    }
    .contato-imagem img{
        height:330px;
        width: auto;
    }
    .contato-endereco{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contato-textos h3{
        font-size: 27px;
        margin:0;
        align-self: flex-start;
        margin-left:20px;
    }
    .contato-info img{
        width: 40px;
        height: 40px;
    }
    .redes-sociais{
        justify-content: center;
        margin: 0 auto;
    }
    .contato-textos h4{
        font-size: 23px;
    }
    .contato-descricao{
        font-size: 12px;
    }
    .endereco h3{
        font-size: 20px;
    }
    .endereco-img{
        width: 280px;
        height: auto;
        border:solid 5px #EAB948;;
    }
    .local img{
        margin-left: 30px;
        width:35px;
        height:auto;
    }
    .local p{
        font-size:12px;
    }
    .endereco h4{
        font-size:20px;
        margin: 25px 0px 0px 30px;
        
    }
    .endereco li{
        font-size: 12px;
        margin-left: 30px;
    }
    .rodape  .logo{
        width: 150px;
        height: auto;
    }
}
@media(min-width:701px) and (max-width:1000px){
    .topo-container {
        flex-direction: column; 
        height: auto; 
       
    }
    .bt-menu {
        font-size: 30px;
        color:  #ffc56f;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1000; 
    }
    .menu {
        display: none; 
        width: 100%;
        text-align: center;
        background-color: #cd4f2e;
        position: absolute;
        top: 140px; 
        left: 0;
        padding: 10px;
        transition: all 2s ease; 
    }
    .menu ul {
        display: block; 
    }

    .menu ul li {
        margin: 10px 0;
        border-bottom: #ffc56f 1px solid;
    }

    #menu-check:checked + .menu {
        display: block;
        height: auto; 
    }
    .chamada h2{
        font-size:50px ;
    }
    .btn-vermelho{
        width:300px;
        height:auto;
        font-size: 25px;
        border-radius: 25px;
    }
    .chamada h3{
        font-size:35px ;
        line-height: 30px;
        padding: 150px 0px 0px 150px;
        align-content: end;
        
    }
    .sobre{
        padding: 50px;
    }
    .sobre-conteudo img{
        width: 300px;
        height:auto;
    }
    .sobre-conteudo{
        gap: 50px;
    }
    .sobre-conteudo p{
        font-size: 15px;
    }
    .btn-cinza{
        width:300px;
        height:auto;
        font-size: 25px;
        border-radius: 25px;
    }
    .cardapio .container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center; 
        padding: 0;
        gap:0;
    }
    .contato-endereco{
        flex-direction: column;
    }
    .delivery h4{
        font-size: 50px;
    }
    .btn-laranja{
        width:300px;
        height:auto;
        font-size: 25px;
        border-radius: 25px;
    }
    .btn-promo{
        font-size: 20px;
        gap:5px;
        padding:30px 15px 0px 0px;
    }
    .btn-promo img{
        width: 40px;
        height: 40px;
}
    .redes-sociais{
        display: flex;
        margin: 0;
        align-self: center;
        justify-content: center;
     }
     .contato-imagem img{
        margin-right: 30px;
     }
}

@media(min-width:1001px){
    .sobre-conteudo img{
        width:20000px ;
        height: auto;
    }
    .sobre-conteudo{
        gap:40px;
    }
    .sobre-conteudo p {
        font-size: 18px;
        line-height: 1.4;
    }
    .delivery h4{
        font-size: 60px;
    }
    .btn-promo {
        margin-right:30px ;
    }
    .sushi-img{
        width: 300px;
        height: auto;
    }
    .redes-sociais{
        display: flex;
        margin: 0;
        align-self: center;
        justify-content: center;
     } 
    .endereco-img{
        width: 350px;
        height: auto;
    }
    .cardapio .container2 .cardapio-item h4{
        font-size: 16.5px;
    }
    .contato-descricao{
        font-size: 15px ;
        line-height: 1.3;
        margin-top: 10px;
    }
}

@media(min-width:1492px){
    #imagem2{
    height:  578px; 
    object-fit: cover;
    width: 662px;
    margin-left: -2px;
    }
    .redes-sociais{
        display: flex;
        margin: 0;
        align-self: center;
        justify-content: center;
     } 
}


